RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^listerTemperature/([0-9]+)/([0-9]+)/([0-9]+)$  listerTemperatureJour.php?annee=$1&mois=$2&jour=$3 [L]
RewriteRule ^listerTemperature/([0-9]+)/([0-9]+)$  listerTemperatureMois.php?annee=$1&mois=$2 [L]
RewriteRule ^listerTemperature/([0-9]+)$  listerTemperatureAnnee.php?annee=$1 [L]
RewriteRule ^listerTemperature/global$  listerTemperatureGlobal.php
