RewriteEngine On

RewriteRule ^(.*)/(.*)/(.*)$  listerTemperatureJour.php?annee=$1?mois=$2?jour=$3
RewriteRule ^(.*)/(.*)$  listerTemperatureMois.php?annee=$1?mois=$2
RewriteRule ^(.*)$  listerTemperatureAnnee.php?annee=$1
RewriteRule ^global$  listerTemperatureGlobal.php
